<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0B25E350-54E7-4D52-8A34-C0E92D8828A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBDE6DD1-1A29-4BA1-841E-3E61631F6EDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C392EBA-F131-454F-AB89-8B017DF1A84E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB3987B3-9D2E-4197-8467-85A559CD4908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FC0C5721-146C-4F22-9066-2832835547B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C392EBA-F131-454F-AB89-8B017DF1A84E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBDE6DD1-1A29-4BA1-841E-3E61631F6EDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF4A2F18-6142-497F-8AC0-9957E10ABD35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB3987B3-9D2E-4197-8467-85A559CD4908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBDE6DD1-1A29-4BA1-841E-3E61631F6EDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC0C5721-146C-4F22-9066-2832835547B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B25E350-54E7-4D52-8A34-C0E92D8828A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Join or start a new zoom meeting</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Join Zoom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zoom</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Join or start a Zoom meeting</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/join?action=join&amp;confno={var:confID}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FF4A2F18-6142-497F-8AC0-9957E10ABD35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:confID}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DB3987B3-9D2E-4197-8467-85A559CD4908</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>BBDE6DD1-1A29-4BA1-841E-3E61631F6EDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>confID</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4C392EBA-F131-454F-AB89-8B017DF1A84E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:confID}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FC0C5721-146C-4F22-9066-2832835547B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>confID</key>
					<string>{var:personalConfID}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B25E350-54E7-4D52-8A34-C0E92D8828A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B25E350-54E7-4D52-8A34-C0E92D8828A4</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>4C392EBA-F131-454F-AB89-8B017DF1A84E</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>note</key>
			<string>To setup the workflow, add an environment variable with a value of your personal conference room ID.

*DO NOT* include hyphens in the ID.  It should look like 1234567890, NOT 123-456-7890</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>BBDE6DD1-1A29-4BA1-841E-3E61631F6EDF</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>DB3987B3-9D2E-4197-8467-85A559CD4908</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>IF a conference ID is provided as an arugment, set it as the confID and proceed.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>FC0C5721-146C-4F22-9066-2832835547B4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>If a conference ID is NOT provided as an argument, retrieve the argument from the personalConfID environment variable.</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>FF4A2F18-6142-497F-8AC0-9957E10ABD35</key>
		<dict>
			<key>note</key>
			<string>Open the Zoom conference ID</string>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>personalConfID</key>
		<string>5598402599</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>personalConfID</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
